@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre&family=Libre+Barcode+128+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre&family=Libre+Barcode+128+Text&family=Teko:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  /* background-color: #f4f4f9; */
  background-color: #f0edee;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Serif Pro", Helvetica, sans-serif;
}

/* 4rem = 40px (4 * 10px) */
h1 {
  font-size: 2.2rem;
}

/* h2 {
  font-size: 3.5rem;
} */

/* h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.5rem;
} */

.nav {
  padding: 25px;
  background-color: transparent;
}

.name–logo {
  font-family: "Libre Barcode 128 Text", cursive;
  text-transform: uppercase;
  font-size: 52px;
  letter-spacing: 0.1px;
  color: #193641;
  display: inline-block;
}

.nav div {
  padding-top: 10px;
  margin-right: 20px;
  float: right;
  font-size: 22px;
}

.nav div ul {
  list-style-type: none;
}

.nav div ul li {
  display: inline-block;
  margin-left: 30px;
}

.nav div ul li a {
  color: #193641;
  font-family: "Teko", sans-serif;
  letter-spacing: 1.5px;
  cursor: pointer;
}

.nav–links:hover,
.name–logo:hover {
  /* color: #193641; */
}

#resume–link {
  color: #cd5c5c;
}

.hero {
  height: 100vh;
  width: 100%;
  background-image: url("./asset/images/hero.jpeg");
  background-repeat: no-repeat;
  background-position: center top 60%;
  background-size: cover;
  z-index: 1;
}

.hero-about-me {
  position: absolute;
  bottom: 20%;
  left: 65%;
  color: #193641;
}

.hero-about-me > h1 {
  font-size: 3.2rem;
  letter-spacing: 0.8px;
  font-family: "Source Serif Pro", Helvetica, sans-serif;
}

.hero-about-me > p {
  font-size: 1.3rem;
}

.main {
  padding: 50px 100px;
}

.info {
  display: flex;
}

.info-header {
  width: 100px;
  color: #193641;
  margin-right: 30px;
}
.work {
  padding-top: 50px;
}

.about-info-border {
  width: 5px;
  background-color: #193641;
  height: 150px;
  margin: 0px 40px 0px 0px;
}

#workGrid {
  display: grid;
  grid-template-rows: 300px 150px 150px;
  grid-template-columns: 450px 450px;
  grid-template-areas:
    "projectOne projectOne"
    "projectTwo projectThree"
    "projectFour projectFive";
}

.work-info-border {
  width: 5px;
  background-color: #193641;
  margin: 0px 40px 0px 0px;
}

.projectGrid {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  /* align-content: end; */
  position: relative;
  border: 5px solid #193641;
}

.project-subheading {
  position: absolute;
  bottom: 5%;
  left: 0px;
  background-color: #007ea7;
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-subheading h3,
.project-subheading p {
  color: #80ced7;
}

#projectOne {
  grid-area: projectOne;
  background-image: url("./asset/images/project1.png");
}

#projectTwo {
  grid-area: projectTwo;
  background-image: url("./asset/images/project2.png");
}

#projectThree {
  grid-area: projectThree;
  background-image: url("./asset/images/project3.jpg");
}

#projectFour {
  grid-area: projectFour;
  background-image: url("./asset/images/project4.jpg");
}

#projectFive {
  grid-area: projectFive;
  background-image: url("./asset/images/project5.jpg");
}

.contact {
  padding-top: 50px;
}

.contact div ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.contact div ul li {
  display: inline-block;
  /* margin-left: 0px; */
  font-size: 2rem;
}

.contact div ul li a {
  padding-left: 40px;
  margin-right: 5px;
  color: #193641;
  font-family: "Teko", sans-serif;
  letter-spacing: 1.5px;
  cursor: pointer;
}
