@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre&family=Libre+Barcode+128+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre&family=Libre+Barcode+128+Text&family=Teko:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth; /* setting up smooth window scroll*/
}

body {
  background-color: #f0edee;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Serif Pro", Helvetica, sans-serif;
}

/* 4rem = 40px (4 * 10px) */
h1 {
  font-size: 2.2rem;
}

/* Navbar style start */
.nav {
  padding: 25px;
  background-color: transparent; /* set the background transparent*/
}

.name–logo {
  font-family: "Libre Barcode 128 Text", cursive;
  text-transform: uppercase;
  font-size: 52px;
  letter-spacing: 0.1px; /*set up the spacing between the letters*/
  color: #193641;
  display: inline-block;
}

.nav div {
  padding-top: 10px;
  margin-right: 20px;
  float: right;
  font-size: 22px;
}

.nav div ul {
  list-style-type: none;
}

.nav div ul li {
  display: inline-block;
  margin-left: 30px;
}

.nav div ul li a {
  color: #193641;
  font-family: "Teko", sans-serif;
  letter-spacing: 1.5px;
  cursor: pointer;
}

#resume–link {
  color: #cd5c5c;
}

/* Navbar style end */

.hero {
  height: 100vh; /* set the virtual height to 100vh*/
  width: 100%;
  background-image: url("./asset/images/hero.jpeg");
  background-repeat: no-repeat;
  background-position: center top 60%;
  background-size: cover; /* set the background size to cover*/
  z-index: 1;
}

/* stylying sub-heading styles */
.hero-about-me {
  position: absolute;
  bottom: 20%;
  left: 65%;
  color: #193641;
}

.hero-about-me > h1 {
  font-size: 3.2rem;
  letter-spacing: 0.8px;
  font-family: "Source Serif Pro", Helvetica, sans-serif;
}

.hero-about-me > p {
  font-size: 1.3rem;
}

/* styling for section starts */

.main {
  padding: 50px 100px; /* set the top, bottom sides to 50px and 100px to left and right sides*/
}

.info {
  display: flex;
}

.info-header {
  width: 100px;
  color: #193641;
  margin-right: 30px;
}
.work {
  padding-top: 50px;
}

.about-info-border {
  width: 5px;
  background-color: #193641;
  height: 150px;
  margin: 0px 40px 0px 0px;
}

.about div {
  width: 900px;
}

.about div p {
  font-size: 24px;
  font-family: "Source Serif Pro", Helvetica, sans-serif;
}

.work-grid-container {
  max-width: 500px; /* set the max-width to 500px*/
}

#workGrid {
  display: grid;
  grid-template-rows: 300px 150px 150px;
  grid-template-columns: 450px 450px;
  grid-template-areas:
    "projectOne projectOne"
    "projectTwo projectThree"
    "projectFour projectFive";
}

.work-info-border {
  width: 5px;
  background-color: #193641;
  margin: 0px 40px 0px 0px;
}

.projectGrid {
  background-position: center; /* set the background position to center*/
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid; /* set the display to grid*/
  position: relative;
  border: 3px solid #193641;
}

.project-subheading {
  position: absolute;
  bottom: 5%;
  left: 0px;
  background-color: #007ea7;
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-subheading h3,
.project-subheading p {
  color: #80ced7;
}

#projectOne {
  grid-area: projectOne;
  background-image: url("./asset/images/project1.png");
}

#projectTwo {
  grid-area: projectTwo;
  background-image: url("./asset/images/project2.png");
}

#projectThree {
  grid-area: projectThree;
  background-image: url("./asset/images/project3.jpg");
}

#projectFour {
  grid-area: projectFour;
  background-image: url("./asset/images/project4.jpg");
}

#projectFive {
  grid-area: projectFive;
  background-image: url("./asset/images/project5.jpg");
}

.contact {
  padding-top: 50px;
}

.contact div ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.contact div ul li {
  display: inline-block;
  /* margin-left: 0px; */
  font-size: 2rem;
}

.contact div ul li a {
  padding-left: 40px;
  margin-right: 5px;
  color: #193641;
  font-family: "Teko", sans-serif;
  letter-spacing: 1.5px;
  cursor: pointer;
}

/* styling for section ends */

/* Media Queries started */

@media only screen and (max-width: 600px) {
  /* body {
    width: 100%;
    height: 100vh;
  } */

  .nav {
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: #193641;
    width: 100vw;
  }

  .name–logo {
    font-size: 20px;
    display: flex;
    justify-content: center;
    color: #fff;
  }

  .nav div {
    font-size: 13px;
    margin-right: 0px;
  }

  .nav div ul {
    margin-left: 0px;
    display: flex;
    justify-content: center;
  }

  .nav div ul li a {
    color: #fff;
    font-family: "Teko", sans-serif;
    letter-spacing: 0.8px;
    cursor: pointer;
  }

  .hero {
    background-position: center top 60%;
    background-size: contain;
  }

  .hero-about-me {
    position: absolute;
    bottom: 30%;
    left: 60%;
    color: #193641;
  }

  .hero-about-me > h1 {
    font-size: 1rem;
  }

  .hero-about-me > p {
    font-size: 0.6rem;
  }

  .main {
    padding: 5px 20px;
  }
  .info-header {
    font-size: 1rem;
    width: 20px;
  }

  .about div {
    width: 60%;
  }

  .about div p {
    font-size: 0.8rem;
    width: 500px;
  }

  .work-grid-container {
    max-width: 0px;
  }

  #workGrid {
    display: grid;
    grid-template-rows: 200px 80px 80px;
    grid-template-columns: 250px 250px;
    grid-template-areas:
      "projectOne projectOne"
      "projectTwo projectThree"
      "projectFour projectFive";
  }

  .projectGrid {
    background-position: center top 20%;
    background-size: cover;
    position: relative;
    border: 3px solid #193641;
  }

  .project-subheading {
    width: 65px;
    height: 30px;
  }

  .project-subheading h3 {
    font-size: 12px;
  }

  .project-subheading p {
    font-size: 10px;
  }

  .work-grid-container {
    min-width: 300px;
  }

  .work-info-border,
  .about-info-border {
    display: none;
  }

  .contact {
    padding-top: 25px;
  }

  .contact div ul {
    list-style-type: none;
    display: flex;
  }

  .contact div ul li {
    display: inline-block;
    font-size: 15px;
  }

  .contact div ul li a {
    padding-left: 30px;
  }
}

/*  Media queries ends */
